@font-face {
  font-family: "Passero";
  font-style: normal;
  font-weight: 400;
  src: local("Passero One"), local("Passero One"),
    url("../../fonts/passero.ttf") format("truetype");
  /* Super Modern Browsers */
}

:root {
  --contentFont: "JetBrains Mono", "Fira Code", "Monaco", "Courier", monospace;
  --headerFont: "IBM Plex", "Work Sans", sans-serif;
  --radius: 0px;
}

body {
  font-family: var(--contentFont)
}

nav.nav {
  padding: 0.7em 0 0 0.7em;
}

.logo a {
  font-family: "Passero";
  font-size: 3.5em;
}

.first-entry {
  min-height: 150px;
  margin-bottom: var(--gap);

  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: var(--border);
}

.entry-header h2 {
  font-weight: 800;
  font-family: var(--headerFont);
}

.entry-content {
  font-size: 15px;
}

.entry-footer {
  font-size: 14px;
}

.post-entry {
  border-radius: 0px;
}


/**/

#searchbox input,
#searchResults li {
  border-radius: 0px;
}

/**/

.post-title {
  font-family: var(--headerFont);
}

.post-footer>.post-tags a,
.post-footer>.share-buttons,
.post-footer>.paginav,
.post-footer>.paginav a {
  background: var(--theme);
}

.post-footer>.paginav a {
  font-size: 16px;
  padding-block-end: 14px;
  padding-block-start: 14px;
}

/**/

.post-content hr:first-child,
.post-content hr:last-child {
  overflow: visible;
}

.post-content hr:first-child {
  margin: 16px 0px 32px 0px;
}

.post-content hr:last-child {
  margin: 32px 0px 16px 0px;
}

.post-content hr:first-child::after,
.post-content hr:first-child:after,
.post-content hr:last-child::after,
.post-content hr:last-child:after {
  display: inline-block;
  position: relative;
  top: -16px;
  left: 50%;
  font-size: 16px;
  padding: 0 6px;
  background: var(--theme);
  color: var(--tertiary);
}

.post-content hr:first-child::after,
.post-content hr:first-child:after {
  content: ".....";
}


.post-content hr:last-child::after,
.post-content hr:last-child:after {
  content: "fin";
  font-weight: 800;
  font-style: italic;
}


/**/

.terms-tags a {
  border-radius: 0px;
}

:root {
  --gap: 20px;
}
